.Modal {
  @apply relative my-6 mx-auto max-w-3xl z-10;
  width: fit-content;
}

.Content {
  @apply bg-neutral-100 border-0 rounded-lg shadow-lg relative flex flex-col w-full  outline-none focus:outline-none;

}


.Body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @apply relative py-2 px-6;
  @apply text-yellow-500;

  svg {
    @apply mr-2;
  }
}
