.Container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  @apply px-5 pb-5 pt-3;

  h2 {
    @apply font-bold;
    font-size: 2rem;
  }

  small {
    position: relative;
    top: -15%;
  }

  .Status {
    @apply pt-2;
  }
}