.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 2rem;



  p {
    align-self: center;
    @apply text-red-500 font-semibold ;
  }
  h1 {
    font-size: 2rem;
    @apply font-bold;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  input {
    background-color: #F1F2F4;
  }

  .Link {
    cursor: pointer;
    @apply text-primary;
  }
}